<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="mybootstrap.php"
         colors="true">
    <testsuites>
        <testsuite name="My test suite">
            <directory>./mytestsuite</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>disable</group>
        </exclude>
    </groups>

</phpunit>
